[Desktop Entry]
Type=Action
Tooltip=Vim edit
Name=Vim edit
Icon=txt
Profiles=on_file;

Name[fr_FR]=editionvim

[X-Action-Profile on_file]
Exec=termite -e "vim %F"
MimeTypes=!inode/directory;*;
